<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>417515914521-02d2fvf1thv4elroo7atnbikl7uqqfad.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.417515914521-02d2fvf1thv4elroo7atnbikl7uqqfad</string>
	<key>API_KEY</key>
	<string>AIzaSyBHwq3cGTvt7hQs8fvSiamRiiTOvIO-xqs</string>
	<key>GCM_SENDER_ID</key>
	<string>417515914521</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.libyport.app</string>
	<key>PROJECT_ID</key>
	<string>libyport-c0c5c</string>
	<key>STORAGE_BUCKET</key>
	<string>libyport-c0c5c.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:417515914521:ios:b69c55140adf1b512af188</string>
</dict>
</plist>